body {
    margin: 0;
    padding: 40px 20px; /* Adjust the top and bottom padding as needed */
    text-align: left;
    font-family: 'Arial', sans-serif;
}

h1 {
    color: #3498db;
    margin-bottom: 20px;
}
